*.DS_Store
*.pyc

/bk-config/known_hosts
/bk-config/register.pem
/bk-config/register.pem-cert.pub
/bk-config/register.pub
/bk-config/beekeeper_ca_key.pub

/bk-register/temp/

/bk-sshd/admin.pem

/beekeeper-keys/

.vscode/

.coverage

kubernetes/dev/mysql-secrets.env